* {
	box-sizing: border-box;
}

body {
	background-color: #111111;
	font-family: Georgia, serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: center;
}

header > h2 {
	color: #f0f0f0;
}

main {
	display: flex;
	justify-content: center;
}

form {
	padding: 20px;
	border: 1px solid #222222;
	border-radius: 5px;
	width: 250px;
}

.field {
	color: #f0f0f0;
	margin-top: 10px;
}

.field:first-child {
	margin-top: 0;
}

.field > label,
.field > input {
	display: block;
}

.field > input {
	background-color: #555555;
	color: #f0f0f0;
	width: 100%;
	padding: 5px 10px;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.field > input.error {
	border: 1px solid red;
}

.controls {
	margin-top: 10px;
}

.controls > button {
	background-color: #555555;
	border: 0;
	padding: 5px 10px;
	outline: none;
	color: #f0f0f0;
	border-radius: 5px;
}

.controls > button:hover {
	background-color: #666666;
	cursor: pointer;
}

input, button {
	font-family: Georgia, sans-serif;
	font-size: 15px;
}
